body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-image: url(clock.jpg);
  background-repeat: no-repeat; /* Prevent image repetition */
  background-size: cover;
  /* Scale the image to cover the entire container */
  background-position: center center;
  overflow: hidden;
}
.container {
  margin-left: -200px;
  top: 45%; /* Vertically center the content within the container */
  text-align: center;
}

h2 {
  font-size: 35px;

  letter-spacing: 4px;
  color: rgb(241, 239, 234);
  text-shadow: 10px 10px 20px rgb(199, 237, 9);
  /* rgb(214, 141, 5); */
}
.clock {
  display: flex;
  align-items: center; /* Vertically center the clock within .clock container */
  justify-content: center; /* Horizontally center the clock within .clock container */
}
.clock div {
  margin: 5px;
  position: relative;
}
.clock span {
  width: 150px;
  height: 100px;
  background: rgb(97, 93, 99);
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px whitesmoke;
}

.clock .text {
  height: 30px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgb(0, 4, 7);
  opacity: 0.8;
}

.clock #ampm {
  bottom: 0;
  color: rgb(9, 2, 16);
  text-shadow: 1px 2px 4px rgb(58, 41, 41);
  width: 80px;
  height: 80px;
  font-size: 20px;
  background: rgb(226, 255, 3);
}
